
@{
    Layout = "/Views/Shared/_LayoutAdministracion.cshtml";
}

<div class="container col-sm6 col-md-4 text-center">
    <div class="panel panel-primary">
        <div class="panel-heading">Peliculas</div>
        <div class="panel-body"><a href="/Administracion/Peliculas" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Mostrar</a></div>
    </div>
</div> <!-- container -->

<div class="container col-sm6 col-md-4 text-center">
    <div class="panel panel-primary">
        <div class="panel-heading">Carteleras</div>
        <div class="panel-body"><a href="/Administracion/Carteleras" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Mostrar</a></div>
    </div>
</div> <!-- container -->

<div class="container col-sm6 col-md-4 text-center">
    <div class="panel panel-primary">
        <div class="panel-heading">Sedes</div>
        <div class="panel-body"><a href="/Administracion/Sedes" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Mostrar</a></div>
    </div>

</div> <!-- container -->
<div class="container col-sm6 col-md-4 text-center">
    <div class="panel panel-primary">
        <div class="panel-heading">Reservas</div>
        <div class="panel-body"><a href="/Administracion/Reportes" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Mostrar</a></div>
    </div>
</div> <!-- container -->